<a href="https://colab.research.google.com/github/luctiz/Grupo43-TP2/blob/master/LlenadoDeNulls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from datetime import datetime
import numpy as np

In [0]:
#from google.colab import drive
#drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df2 = pd.read_csv("data/test.csv", parse_dates = ['fecha'])
df = pd.read_csv("data/train.csv",parse_dates = ['fecha'])

## Empiezo a ver columna por columna como tratar los nulls si es que tienen.

## Precio

In [0]:
df['precio']=df['precio'].astype(np.int32)

## Id

In [0]:
df['id']=df['id'].astype(np.int32)
df2['id']=df2['id'].astype(np.int32)

### Gimnasio

In [0]:
df['gimnasio']=df['gimnasio'].astype(np.int8)
df2['gimnasio']=df2['gimnasio'].astype(np.int8)

### Usos multiples

In [0]:
df['usosmultiples']=df['usosmultiples'].astype(np.int8)
df2['usosmultiples']=df2['usosmultiples'].astype(np.int8)

### Piscina

In [0]:
df['piscina']=df['piscina'].astype(np.int8)
df2['piscina']=df2['piscina'].astype(np.int8)

### Escuelas cercanas

In [0]:
df['escuelascercanas']=df['escuelascercanas'].astype(np.int8)
df2['escuelascercanas']=df2['escuelascercanas'].astype(np.int8)

### Centros comerciales cercanos

In [0]:
df['centroscomercialescercanos']=df['centroscomercialescercanos'].astype(np.int8)
df2['centroscomercialescercanos']=df2['centroscomercialescercanos'].astype(np.int8)

### Titulo y descripcion

In [0]:
df['descripcion'].isnull().sum()

1619

In [0]:
df['titulo'].isnull().sum()

5387

In [0]:
df['titulo']=df['titulo'].fillna(' ')
df['descripcion']=df['descripcion'].fillna(' ')

In [0]:
df2['descripcion'].isnull().sum()

401

In [0]:
df2['titulo'].isnull().sum()

1378

In [0]:
df2['titulo']=df2['titulo'].fillna(' ')
df2['descripcion']=df2['descripcion'].fillna(' ')

### Direccion

In [0]:
df['direccion'].isnull().sum()

53072

In [0]:
#Relleno los nulls en direccion con un - .
df['direccion']=df['direccion'].fillna('-')

In [0]:
df2['direccion'].isnull().sum()

13191

In [0]:
#Relleno los nulls en direccion con un - .
df2['direccion']=df2['direccion'].fillna('-')

### Tipo de propiedad

In [0]:
df['tipodepropiedad']=df['tipodepropiedad'].fillna('N/A')

In [0]:
df.loc[df['tipodepropiedad']=='N/A']

            id  ...    precio
5307    230046  ...   1450000
8273     68458  ...   4822342
13957    48797  ...   3500000
15598   111329  ...   3000000
15763   231968  ...    750000
16949     1517  ...   1500000
17512    78161  ...   1500000
20067   170109  ...   1400000
25310    49448  ...   3590000
26290   273036  ...    900000
28628    24043  ...   5000000
44916   162314  ...    900000
45331    11234  ...   2650000
47533    34286  ...   2600000
50496   286805  ...    680000
58002   188386  ...   3650000
65448   271322  ...   1250000
66085   244122  ...  10271208
94778   208435  ...   1570000
95612   268952  ...   1202620
96956   287353  ...   8000000
98161   208660  ...   1350000
103035  247550  ...   6400000
106465  121158  ...   1980000
115794   87335  ...   4000000
131538  116902  ...    660000
132639  217445  ...    380000
134118  155495  ...    546760
149096   38804  ...   1495000
161448  158166  ...   1460000
167128  147449  ...   1200000
173021  170284  ...   1470000
175208   82387  ...   1950000
176650  249147  ...    512000
187891   56531  ...   1370000
191135  238121  ...   1300000
197458  223385  ...   2080000
197899   11970  ...    632690
201467  132580  ...   5000000
202066  293611  ...   1918013
205172  122418  ...    574680
206154  261646  ...   1790000
215468  268706  ...   1646400
217221  212213  ...   1380000
218665  155905  ...    360000
236452   94767  ...   1850000

[46 rows x 23 columns]

In [0]:
df.loc[5307,'tipodepropiedad'] = "Casa"
df.loc[8273,'tipodepropiedad'] = "Apartamento"
df.loc[13957,'tipodepropiedad'] = "Rancho" #casa de campo
df.loc[15598,'tipodepropiedad'] = "Casa"
df.loc[15763,'tipodepropiedad'] = "Rancho" #casa de campo
df.loc[16949,'tipodepropiedad'] = "Casa"
df.loc[17512,'tipodepropiedad'] = "Terreno"
df.loc[20067,'tipodepropiedad'] = "Local Comercial"
df.loc[25310,'tipodepropiedad'] = "Apartamento"
df.loc[26290,'tipodepropiedad'] = "Casa"

df.loc[28628,'tipodepropiedad'] = "Local Comercial"
df.loc[44916,'tipodepropiedad'] = "Rancho" #cabaña
df.loc[45331,'tipodepropiedad'] = "Casa"
df.loc[47533,'tipodepropiedad'] = "Casa"
df.loc[50496,'tipodepropiedad'] = "Casa"
df.loc[58002,'tipodepropiedad'] = "Villa"
df.loc[65448,'tipodepropiedad'] = "Local Comercial"
df.loc[66085,'tipodepropiedad'] = "Casa en condominio"
df.loc[94778,'tipodepropiedad'] = "Casa"
df.loc[95612,'tipodepropiedad'] = "Terreno"

df.loc[96956,'tipodepropiedad'] = "Bodega comercial"
df.loc[98161,'tipodepropiedad'] = "Otros" #chalet
df.loc[103035,'tipodepropiedad'] = "Casa en condominio"
df.loc[106465,'tipodepropiedad'] = "Casa"
df.loc[115794,'tipodepropiedad'] = "Casa"
df.loc[131538,'tipodepropiedad'] = "Terreno"
df.loc[132639,'tipodepropiedad'] = "Casa"
df.loc[134118,'tipodepropiedad'] = "Casa"
df.loc[149096,'tipodepropiedad'] = "Casa"
df.loc[161448,'tipodepropiedad'] = "Casa"

df.loc[167128,'tipodepropiedad'] = "Terreno"
df.loc[173021,'tipodepropiedad'] = "Local Comercial"
df.loc[175208,'tipodepropiedad'] = "Casa"
df.loc[176650,'tipodepropiedad'] = "Terreno"
df.loc[187891,'tipodepropiedad'] = "Casa"
df.loc[191135,'tipodepropiedad'] = "Local Comercial"
df.loc[197458,'tipodepropiedad'] = "Terreno"
df.loc[197899,'tipodepropiedad'] = "Casa"
df.loc[201467,'tipodepropiedad'] = "Casa"
df.loc[202066,'tipodepropiedad'] = "Terreno"

df.loc[205172,'tipodepropiedad'] = "Casa"
df.loc[206154,'tipodepropiedad'] = "Casa"
df.loc[215468,'tipodepropiedad'] = "Terreno"
df.loc[217221,'tipodepropiedad'] = "Local Comercial"
df.loc[218665,'tipodepropiedad'] = "Casa"
df.loc[236452,'tipodepropiedad'] = "Casa"

In [0]:
df["tipodepropiedad"] = df["tipodepropiedad"].replace("Lote", "Terreno")
df["tipodepropiedad"] = df["tipodepropiedad"].replace("Hospedaje", "Otros")
df["tipodepropiedad"] = df["tipodepropiedad"].replace("Garage", "Otros")

In [0]:
df['tipodepropiedad'].value_counts()

Casa                             141739
Apartamento                       57343
Casa en condominio                19299
Terreno                            9958
Local Comercial                    3061
Oficina comercial                  1741
Bodega comercial                   1407
Edificio                           1396
Terreno comercial                  1326
Casa uso de suelo                   708
Quinta Vacacional                   395
Duplex                              343
Villa                               341
Inmuebles productivos urbanos       200
Rancho                              173
Local en centro comercial           165
Departamento Compartido             141
Otros                               137
Nave industrial                      76
Terreno industrial                   31
Huerta                               20
Name: tipodepropiedad, dtype: int64

In [0]:
df2['tipodepropiedad']=df2['tipodepropiedad'].fillna('N/A')

In [0]:
df2.loc[df2['tipodepropiedad']=='N/A']

           id  ... centroscomercialescercanos
13702  177475  ...                          0
15832  283008  ...                          0
26720   31177  ...                          0
38993  290726  ...                          0
46981  288517  ...                          0
47296  274853  ...                          0
50869   22332  ...                          0

[7 rows x 22 columns]

In [0]:
df2.loc[13702,'tipodepropiedad'] = "Casa en condominio"
df2.loc[15832,'tipodepropiedad'] = "Local Comercial"
df2.loc[26720,'tipodepropiedad'] = "Local Comercial"
df2.loc[38993,'tipodepropiedad'] = "Rancho"
df2.loc[46981,'tipodepropiedad'] = "Casa"
df2.loc[47296,'tipodepropiedad'] = "Casa"
df2.loc[50869,'tipodepropiedad'] = "Casa"

df2["tipodepropiedad"] = df2["tipodepropiedad"].replace("Lote", "Terreno")

In [0]:
df2['tipodepropiedad'].value_counts()

Casa                             35418
Apartamento                      14231
Casa en condominio                4912
Terreno                           2446
Local Comercial                    793
Oficina comercial                  415
Bodega comercial                   360
Edificio                           344
Terreno comercial                  334
Casa uso de suelo                  222
Quinta Vacacional                  100
Villa                               98
Duplex                              81
Inmuebles productivos urbanos       56
Local en centro comercial           43
Otros                               38
Departamento Compartido             38
Rancho                              37
Nave industrial                     23
Terreno industrial                   6
Huerta                               5
Name: tipodepropiedad, dtype: int64

### Latitud y Longitud (limpieza de outliers)

Las latitudes deben estar entre 13 y 34 y las longitudes entre -84 y -119 aproximadamente

In [0]:
df["lat"] = df["lat"].map(lambda x: 0 if x<13 or x>34 else x)
df["lng"] = df["lng"].map(lambda x: 0 if x<-119 or x>-84 else x)
df["lat"] = df["lat"].fillna(0)
df["lng"] = df["lng"].fillna(0)

In [0]:
df2["lat"] = df2["lat"].map(lambda x: 0 if x<13 or x>34 else x)
df2["lng"] = df2["lng"].map(lambda x: 0 if x<-119 or x>-84 else x)
df2["lat"] = df2["lat"].fillna(0)
df2["lng"] = df2["lng"].fillna(0)

### Provincia

In [0]:
df['provincia'].isnull().sum()

155

In [0]:
#Creo categoria para los que no tienen categoria en provincia:
df['provincia']=df['provincia'].fillna('N/A')

In [0]:
df2['provincia'].isnull().sum()

42

In [0]:
#Creo categoria para los que no tienen categoria en provincia:
df2['provincia']=df2['provincia'].fillna('N/A')

### Ciudad

In [0]:
df['ciudad'].isnull().sum()

372

In [0]:
#Creo categoria para los que no tienen categoria en ciudad:
df['ciudad']=df['ciudad'].fillna('N/A')

In [0]:
df2['ciudad'].isnull().sum()

83

In [0]:
#Creo categoria para los que no tienen categoria en ciudad:
df2['ciudad']=df2['ciudad'].fillna('N/A')

### Metros Cubiertos

In [0]:
df['metroscubiertos'].isnull().sum()

17400

In [0]:
df['metroscubiertos'].mean()

174.01677448337827

In [0]:
prom_tp_h=df.groupby(['tipodepropiedad','habitaciones']).mean().reset_index()
prom_tp_h

    tipodepropiedad  habitaciones  ...  centroscomercialescercanos        precio
0       Apartamento           1.0  ...                    0.430834  2.185763e+06
1       Apartamento           2.0  ...                    0.451897  2.152656e+06
2       Apartamento           3.0  ...                    0.462823  3.552878e+06
3       Apartamento           4.0  ...                    0.466667  5.387999e+06
4       Apartamento           5.0  ...                    0.515625  4.777039e+06
..              ...           ...  ...                         ...           ...
157           Villa           3.0  ...                    0.380597  2.716795e+06
158           Villa           4.0  ...                    0.272727  3.805224e+06
159           Villa           5.0  ...                    0.250000  4.625000e+06
160           Villa           6.0  ...                    0.333333  2.303333e+06
161           Villa           8.0  ...                    0.000000  4.733333e+06

[162 rows x 17 columns]

In [0]:
prom_tp=df.groupby('tipodepropiedad').mean().reset_index()
prom_tp

                  tipodepropiedad  ...        precio
0                     Apartamento  ...  2.763819e+06
1                Bodega comercial  ...  2.697529e+06
2                            Casa  ...  2.398052e+06
3              Casa en condominio  ...  2.899490e+06
4               Casa uso de suelo  ...  3.732469e+06
5         Departamento Compartido  ...  2.560162e+06
6                          Duplex  ...  1.271758e+06
7                        Edificio  ...  5.009499e+06
8                          Huerta  ...  3.543350e+06
9   Inmuebles productivos urbanos  ...  3.743070e+06
10                Local Comercial  ...  2.364283e+06
11      Local en centro comercial  ...  2.212631e+06
12                Nave industrial  ...  3.742600e+06
13              Oficina comercial  ...  3.148533e+06
14                          Otros  ...  2.853988e+06
15              Quinta Vacacional  ...  3.187426e+06
16                         Rancho  ...  3.992519e+06
17                        Terreno  ...  1.804418e+06
18              Terreno comercial  ...  2.472025e+06
19             Terreno industrial  ...  3.647994e+06
20                          Villa  ...  2.769940e+06

[21 rows x 17 columns]

In [0]:
def t_mc(x):
    if x['metroscubiertos']==0:
        if x['habitaciones'] in list(prom_tp_h.loc[prom_tp_h['tipodepropiedad']==x['tipodepropiedad']]['habitaciones']):
            x['metroscubiertos']=prom_tp_h.loc[prom_tp_h['tipodepropiedad']==x['tipodepropiedad']].loc[prom_tp_h['habitaciones']==x['habitaciones']].iloc[0].at['metroscubiertos']
        else:
            x['metroscubiertos']=prom_tp.loc[prom_tp['tipodepropiedad']==x['tipodepropiedad']].iloc[0].at['metroscubiertos']
    return x

In [0]:
df2.iloc[21143]

id                                                                       181600
titulo                        destaque su invercion tres propiedades grandes...
descripcion                   <p>morelia michoacan vendo tres propiedades ju...
tipodepropiedad                                               Quinta Vacacional
direccion                                                           TEHPACUA 36
ciudad                                                                  Morelia
provincia                                                             Michoacán
antiguedad                                                                    7
habitaciones                                                                 10
garages                                                                       1
banos                                                                       NaN
metroscubiertos                                                               0
metrostotales                                                               200
idzona                                                                    60231
lat                                                                     19.6804
lng                                                                    -101.177
fecha                                                       2013-04-12 00:00:00
gimnasio                                                                      0
usosmultiples                                                                 0
piscina                                                                       0
escuelascercanas                                                              1
centroscomercialescercanos                                                    1
Name: 21143, dtype: object

In [0]:
#A los nulls los relleno con el promedio de metroscubiertos segun el tipo de propiedad y la cantidad de habitaciones, si esta disponible
df['metroscubiertos']=df['metroscubiertos'].fillna(0)

df=df.transform(t_mc, 1)

In [0]:
#Relleno los nan que pueden haber quedado con el promedio general
df['metroscubiertos']=df['metroscubiertos'].fillna(round(df['metroscubiertos'].mean()))

#Luego convierto metroscubiertos a  np.int16
df['metroscubiertos']=df['metroscubiertos'].astype(np.int16)

In [0]:
df2['metroscubiertos'].isnull().sum()

0

In [0]:
#A los nulls los relleno con el promedio de metroscubiertos segun el tipo de propiedad y la cantidad de habitaciones, si esta disponible
df2['metroscubiertos']=df2['metroscubiertos'].fillna(0)

df2=df2.transform(t_mc, 1)

In [0]:
#Relleno los nan que pueden haber quedado con el promedio general
df2['metroscubiertos']=df2['metroscubiertos'].fillna(round(df['metroscubiertos'].mean()))

#Luego convierto metroscubiertos a  np.int16
df2['metroscubiertos']=df2['metroscubiertos'].astype(np.int16)

### Metros totales

In [0]:
df['metrostotales'].isnull().sum()

51467

In [0]:
df['metrostotales'].mean()

176.76514456355122

In [0]:
def t_mt(x):
    if x['metrostotales']==0:
        if x['habitaciones'] in list(prom_tp_h.loc[prom_tp_h['tipodepropiedad']==x['tipodepropiedad']]['habitaciones']):
            prom_tp_h_act =  prom_tp_h.loc[prom_tp_h['tipodepropiedad']==x['tipodepropiedad']].loc[prom_tp_h['habitaciones']==x['habitaciones']].iloc[0].at['metrostotales'] 
            if prom_tp_h_act < x['metroscubiertos']:
                x['metrostotales'] = x['metroscubiertos']
            else:
                x['metrostotales'] = prom_tp_h_act
        else:
            prom_tp_act = prom_tp.loc[prom_tp['tipodepropiedad']==x['tipodepropiedad']].iloc[0].at['metrostotales']
            if prom_tp_act < x['metroscubiertos']:
                x['metrostotales'] = x['metroscubiertos']
            else:
                x['metrostotales'] = prom_tp_act
    return x

In [0]:
#A los nulls los relleno con el promedio de metrostotales segun el tipo de propiedad y la cantidad de habitaciones, si esta disponible, y me fijo que siempre sea mayor o igual a los metroscubiertos
df['metrostotales']=df['metrostotales'].fillna(0)

df=df.transform(t_mt, 1)

In [0]:
#Relleno los nan que pueden haber quedado con el promedio general
df['metrostotales']=df['metrostotales'].fillna(round(df['metrostotales'].mean()))

#Luego convierto metrostotales a  np.int16
df['metrostotales']=df['metrostotales'].astype(np.int16)

In [0]:
df2['metrostotales'].isnull().sum()

12655

In [0]:
#A los nulls los relleno con el promedio de metroscubiertos segun el tipo de propiedad y la cantidad de habitaciones, si esta disponible
df2['metrostotales']=df2['metrostotales'].fillna(0)

df2=df2.transform(t_mt, 1)

In [0]:
#Relleno los nan que pueden haber quedado con el promedio general
df2['metrostotales']=df2['metrostotales'].fillna(round(df['metrostotales'].mean()))

#Luego convierto metroscubiertos a  np.int16
df2['metrostotales']=df2['metrostotales'].astype(np.int16)

### Habitaciones

In [0]:
df['habitaciones'].isnull().sum()

22471

In [0]:
df['precio'] = df['precio'].astype(np.int32)
df.groupby('habitaciones')['precio'].mean().astype(np.int32)

habitaciones
1.0     1806074
2.0     1616899
3.0     2769606
4.0     3494388
5.0     3284971
6.0     3165558
7.0     3562563
8.0     3432464
9.0     3936173
10.0    4520161
Name: precio, dtype: int32

In [0]:
#df[df['habitaciones'].isnull()]['precio'].mean().astype(np.int32)

In [0]:
#El precio promedio de las publicaciones que no tienen datos de cant de habitaciones esta entre el precio
#promedio de las que tienen 2 y 3 habitaciones
#Entonces voy a asumir que tienen 3 habitaciones, ya que es el valor al cual el precio mas se les asemeja.
df['habitaciones']=df['habitaciones'].fillna(3)
#Luego convierto a np.int8
df['habitaciones']=df['habitaciones'].astype(np.int8)

### Latitud y longitud

In [0]:
df['lat'].isnull().sum()
#Como deberia rellenar los nulls de latitud y longitud?

0

### Antiguedad

In [0]:
df['antiguedad'].isnull().sum()

43555

In [0]:
#A los que no tienen datos de antiguedad los relleno con la antiguedad promedio (es 8)
df['antiguedad']=df['antiguedad'].fillna(round(df['antiguedad'].mean()))
#Luego convierto a np.uint8
df['antiguedad']=df['antiguedad'].astype(np.int8)

### Garages

In [0]:
#Para garages uso np.int8
df['garages'].value_counts()

2.0    94167
1.0    59464
0.0    26926
3.0    21678
Name: garages, dtype: int64

In [0]:
df['garages'].isnull().sum()

37765

In [0]:
df.groupby('garages')['precio'].mean().astype(np.int32)

garages
0.0    2033282
1.0    1346327
2.0    2644485
3.0    4293016
Name: precio, dtype: int32

In [0]:
#df[df['garages'].isnull()]['precio'].mean().astype(np.int32)

In [0]:
#El precio promedio de los que tienen NULL en garage es parecido al de los que tienen 2.
#Relleno los nulls de esta columna con un 2.
df['garages']=df['garages'].fillna(2)

In [0]:
#convierto a np.int8
df['garages']=df['garages'].astype(np.int8)

### Baños

In [0]:
#Para garages uso np.int8
df['banos'].value_counts()

2.0    87683
1.0    58173
3.0    49365
4.0    18558
Name: banos, dtype: int64

In [0]:
df['banos'].isnull().sum()

26221

In [0]:
df.groupby('banos')['precio'].mean().astype(np.int32)

banos
1.0    1041801
2.0    2317529
3.0    3701016
4.0    4449123
Name: precio, dtype: int32

In [0]:
#df[df['banos'].isnull()]['precio'].mean().astype(np.int32)

In [0]:
#El precio promedio de los que tienen NULL en banos es mas parecido al de los que tienen 2.
#Relleno los nulls de esta columna con un 2.
df['banos']=df['banos'].fillna(2)

In [0]:
#convierto a np.int8
df['banos']=df['banos'].astype(np.int8)

### Idzona

In [0]:
df['idzona'].isnull().sum()
#No se exactamente como rellenar los nulls para esta columna.

28621