In [36]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import category_encoders as ce

# Carga y limpieza de datos

## (Hecho con la info obtenida en el notebook LimpiezaDeDatos)

In [4]:
#import io
#ruta = io.StringIO(uploaded['train.csv'].decode('utf-8'))
ejemplo =  pd.read_csv('data/ejemploRespuesta.csv', names = ["id", "precio"] )
test =  pd.read_csv('data/test.csv', parse_dates = ['fecha'])
train = pd.read_csv('data/train.csv',parse_dates = ['fecha'])

In [5]:
#A los nulls los relleno con el promedio de metroscubiertos de todas las publicaciones
train['metroscubiertos']=train['metroscubiertos'].fillna(round(train['metroscubiertos'].mean()))
test['metroscubiertos']=test['metroscubiertos'].fillna(round(test['metroscubiertos'].mean()))
#Luego convierto metroscubiertos a  np.int16
train['metroscubiertos']=train['metroscubiertos'].astype(np.int16)
test['metroscubiertos']=test['metroscubiertos'].astype(np.int16)

In [6]:
#A los nulls los relleno con el promedio de metrostotales de todas las publicaciones
train['metrostotales']=train['metrostotales'].fillna(round(train['metrostotales'].mean()))
test['metrostotales']=test['metrostotales'].fillna(round(test['metrostotales'].mean()))
#Luego convierto metrostotales a  np.int16
train['metrostotales']=train['metrostotales'].astype(np.int16)
test['metrostotales']=test['metrostotales'].astype(np.int16)

In [7]:
#El precio promedio de las publicaciones que no tienen datos de cant de habitaciones esta entre el precio
#promedio de las que tienen 2 y 3 habitaciones
#Entonces voy a asumir que tienen 3 habitaciones, ya que es el valor al cual el precio mas se les asemeja.
train['habitaciones']=train['habitaciones'].fillna(3)
test['habitaciones']=test['habitaciones'].fillna(3)
#Luego convierto a np.int8
train['habitaciones']=train['habitaciones'].astype(np.int8)
test['habitaciones']=test['habitaciones'].astype(np.int8)

In [8]:
#A los que no tienen datos de antiguedad los relleno con la antiguedad promedio (es 8)
train['antiguedad']=train['antiguedad'].fillna(round(train['antiguedad'].mean()))
test['antiguedad']=test['antiguedad'].fillna(round(train['antiguedad'].mean()))
#Luego convierto a np.uint8
train['antiguedad']=train['antiguedad'].astype(np.uint8)
test['antiguedad']=test['antiguedad'].astype(np.uint8)

In [9]:
#El precio promedio de los que tienen NULL en garage es parecido al de los que tienen 2.
#Relleno los nulls de esta columna con un 2.
train['garages']=train['garages'].fillna(2)
test['garages']=test['garages'].fillna(2)
#convierto a np.int8
train['garages']=train['garages'].astype(np.int8)
test['garages']=test['garages'].astype(np.int8)

In [10]:
#El precio promedio de los que tienen NULL en banos es mas parecido al de los que tienen 2.
#Relleno los nulls de esta columna con un 2.
train['banos']=train['banos'].fillna(2)
test['banos']=test['banos'].fillna(2)
#convierto a np.int8
train['banos']=train['banos'].astype(np.int8)
test['banos']=test['banos'].astype(np.int8)

In [11]:
train['gimnasio']=train['gimnasio'].astype(np.int8)
train['usosmultiples']=train['usosmultiples'].astype(np.int8)
train['piscina']=train['piscina'].astype(np.int8)
train['escuelascercanas']=train['escuelascercanas'].astype(np.int8)
train['centroscomercialescercanos']=train['centroscomercialescercanos'].astype(np.int8)
test['gimnasio']=test['gimnasio'].astype(np.int8)
test['usosmultiples']=test['usosmultiples'].astype(np.int8)
test['piscina']=test['piscina'].astype(np.int8)
test['escuelascercanas']=test['escuelascercanas'].astype(np.int8)
test['centroscomercialescercanos']=test['centroscomercialescercanos'].astype(np.int8)

In [12]:
#Creo categoria para los que no tienen categoria en provincia:
train['provincia']=train['provincia'].fillna('N/A')
test['provincia']=test['provincia'].fillna('N/A')
#Creo categoria para los que no tienen categoria en ciudad:
train['ciudad']=train['ciudad'].fillna('N/A')
test['ciudad']=test['ciudad'].fillna('N/A')
#Relleno los nulls en direccion con un - .
train['direccion']=train['direccion'].fillna('-')
test['direccion']=test['direccion'].fillna('-')
#Creo categoria para los que no tienen categoria en tipodepropiedad:
train['tipodepropiedad']=train['tipodepropiedad'].fillna('N/A')
test['tipodepropiedad']=test['tipodepropiedad'].fillna('N/A')

In [13]:
train['titulo']=train['titulo'].fillna(' ')
train['descripcion']=train['descripcion'].fillna(' ')
test['titulo']=test['titulo'].fillna(' ')
test['descripcion']=test['descripcion'].fillna(' ')

In [14]:
train['precio']=train['precio'].astype(np.int32)
train['id']=train['id'].astype(np.int32)
test['id']=test['id'].astype(np.int32)

In [15]:
#Algunas columnas tienen nulls que no se como encararlos. Por ahora los relleno con 0
train=train.fillna(0)
test=test.fillna(0)

# Armado de features:

In [16]:
train.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio'],
      dtype='object')

In [17]:
test.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos'],
      dtype='object')

## OneHotEncoding para tipodepropiedad

In [16]:
#Voy a usar OneHotEncoder para convertir la columna categorica tipodepropiedad en dummies.
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
dummies = enc.fit_transform(train['tipodepropiedad'].values.reshape(-1, 1)).toarray()
dummies = pd.DataFrame(dummies)
dummies_test = enc.transform(test['tipodepropiedad'].values.reshape(-1, 1)).toarray()
dummies_test = pd.DataFrame(dummies_test)

In [17]:
dummies.columns=enc.categories_[0].tolist()
dummies=dummies.add_prefix('prop_')
dummies=dummies.astype(np.int8)

dummies_test.columns=enc.categories_[0].tolist()
dummies_test=dummies_test.add_prefix('prop_')
dummies_test=dummies_test.astype(np.int8)

In [18]:
dummies.head()

,prop_Apartamento,prop_Bodega comercial,prop_Casa,prop_Casa en condominio,prop_Casa uso de suelo,prop_Departamento Compartido,prop_Duplex,prop_Edificio,prop_Garage,prop_Hospedaje,...,prop_N/A,prop_Nave industrial,prop_Oficina comercial,prop_Otros,prop_Quinta Vacacional,prop_Rancho,prop_Terreno,prop_Terreno comercial,prop_Terreno industrial,prop_Villa
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
dummies_test.head()

,prop_Apartamento,prop_Bodega comercial,prop_Casa,prop_Casa en condominio,prop_Casa uso de suelo,prop_Departamento Compartido,prop_Duplex,prop_Edificio,prop_Garage,prop_Hospedaje,...,prop_N/A,prop_Nave industrial,prop_Oficina comercial,prop_Otros,prop_Quinta Vacacional,prop_Rancho,prop_Terreno,prop_Terreno comercial,prop_Terreno industrial,prop_Villa
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Modelo Random Forest

In [6]:
def crear_submit(model, x_train, y_train, x_test, nombre):
    model.fit(x_train, y_train)
    result = model.predict(x_test)
    final = test.loc[:, ['id']]
    final['target'] = result
    ruta = "data/submit"+ nombre +".csv"
    final.to_csv(path_or_buf = ruta, index = False )
    df = pd.read_csv(ruta)
    return df

In [18]:
from sklearn.model_selection import cross_val_score

In [19]:
from sklearn.ensemble  import RandomForestRegressor

RF_model=RandomForestRegressor()

### MAE score para RF

In [23]:
Numericos = ['antiguedad','habitaciones','garages','banos','metroscubiertos','metrostotales','gimnasio',\
             'usosmultiples','piscina','escuelascercanas','centroscomercialescercanos']
X = train[Numericos].join(dummies)
Y = train['precio']

In [ ]:
#Utilizo el modelo que funciona mejor, Random Forest
RF_model.fit(X,Y)
scores = cross_val_score(RF_model , X, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score1 = -scores.mean()
RF_mae_score1

In [5]:
def mostrar_importancias(X, Y,model):
    model.fit(X,Y)
    importancias = pd.DataFrame(model.feature_importances_,index=X.columns,columns=['importancia']).reset_index()
    importancias.columns = ['feature', 'importancia']
    plt.figure(figsize = (18,8))
    graf = sns.barplot(x = importancias.feature, y = importancias.importancia, orient = 'v')
    graf.set_xlabel("Importancias", fontsize = 20)
    graf.set_ylabel("Features", fontsize = 20)
    plt.xticks(fontsize = 15, rotation = 'vertical')
    plt.yticks(fontsize = 15)

In [ ]:
mostrar_importancias(X,Y,RF_model)

## OneHotEncoding para provincias

In [26]:
#Voy a usar OneHotEncoder para convertir la columna categorica provincia en dummies.
enc_prov = OneHotEncoder()
dummies_prov = enc_prov.fit_transform(train['provincia'].values.reshape(-1, 1)).toarray()
dummies_prov = pd.DataFrame(dummies_prov)

dummies_prov_test = enc_prov.transform(test['provincia'].values.reshape(-1, 1)).toarray()
dummies_prov_test = pd.DataFrame(dummies_prov_test)

dummies_prov.columns=enc_prov.categories_[0].tolist()
dummies_prov=dummies_prov.add_prefix('prov_')
dummies_prov=dummies_prov.astype(np.int8)

dummies_prov_test.columns=enc_prov.categories_[0].tolist()
dummies_prov_test=dummies_prov_test.add_prefix('prov_')
dummies_prov_test=dummies_prov_test.astype(np.int8)

In [27]:
dummies_prov.head()

,prov_Aguascalientes,prov_Baja California Norte,prov_Baja California Sur,prov_Campeche,prov_Chiapas,prov_Chihuahua,prov_Coahuila,prov_Colima,prov_Distrito Federal,prov_Durango,...,prov_Quintana Roo,prov_San luis Potosí,prov_Sinaloa,prov_Sonora,prov_Tabasco,prov_Tamaulipas,prov_Tlaxcala,prov_Veracruz,prov_Yucatán,prov_Zacatecas
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
dummies_prov_test.head()

,prov_Aguascalientes,prov_Baja California Norte,prov_Baja California Sur,prov_Campeche,prov_Chiapas,prov_Chihuahua,prov_Coahuila,prov_Colima,prov_Distrito Federal,prov_Durango,...,prov_Quintana Roo,prov_San luis Potosí,prov_Sinaloa,prov_Sonora,prov_Tabasco,prov_Tamaulipas,prov_Tlaxcala,prov_Veracruz,prov_Yucatán,prov_Zacatecas
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Pruebo el modelo

In [27]:
X = X.join(dummies_prov)

In [ ]:
#Utilizo el modelo que funciona mejor, Random Forest
RF_model.fit(X,Y)
scores = cross_val_score(RF_model , X, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score2 = -scores.mean()
RF_mae_score2

In [ ]:
mostrar_importancias(X,Y,RF_model)

## Features sobre el tiempo

En el TP1 vimos como los precios iban en aumento a medida que el tiempo aumentaba, por lo que nos interesa crear nuevos features tomando en cuenta el tiempo en el que se publicaron las propiedades.


Para realizar un nuevo feature comenzaremos añadiendo un peso para cada fecha, este peso irá en aumento a medida que las fechas van subiendo, así simularemos el crecimiento del precio a lo largo del tiempo.

In [28]:
#Califico las fechas de acuerdo a la diferencia entre la fecha actual y la fecha mínima sobre el máximo de dias
fecha_min = train.fecha.min()
fecha_max = train.fecha.max()
delta_max_days = (fecha_max - fecha_min).days
def calificar_fecha(fecha):
    delta = fecha - fecha_min
    return delta.days/delta_max_days

In [29]:
train["puntaje_por_fecha"] = train['fecha'].transform(lambda x: calificar_fecha(x))
train.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio,puntaje_por_fecha
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,8,2,1,...,0.000000,0.000000,2015-08-23,0,0,0,0,0,2273000,0.728368
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10,3,2,...,19.310205,-99.227655,2013-06-28,0,0,0,1,1,3600000,0.297919
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5,3,2,...,0.000000,0.000000,2015-10-17,0,0,0,0,0,1200000,0.758488
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1,2,1,...,19.301890,-99.688015,2012-03-09,0,0,0,1,1,650000,0.037240
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10,2,1,...,0.000000,0.000000,2016-06-07,0,0,0,0,0,1150000,0.886637

In [30]:
#Set de test
fecha_min = test.fecha.min()
fecha_max = test.fecha.max()
delta_max_days = (fecha_max - fecha_min).days
test["puntaje_por_fecha"] = test['fecha'].transform(lambda x: calificar_fecha(x))
test.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,puntaje_por_fecha
0,4941,"casa en venta en miguel hidalgo, distrito federal",<p>excelente casa estilo moderno.</p>,Casa,Bosque de Cedros,Miguel Hidalgo,Distrito Federal,29,3,2,...,0.0,19.408668,-99.246767,2013-07-20,0,0,0,0,0,0.309967
1,51775,departamentos en venta en montebello,<p>departamento una recamara:\n</p><p>departam...,Apartamento,-,Mérida,Yucatán,8,1,1,...,113851.0,21.032480,-89.592424,2015-10-24,0,0,0,0,0,0.762322
2,115253,departamento nuevo delegación coyoacán de 87 m...,"departamento nuevo de 87.06 m2, 1 cajón de est...",Apartamento,"Pueblo de los Reyes, Coyoacán, Mexico D.F.",Coyoacán,Distrito Federal,0,2,1,...,23620.0,19.332829,-99.152913,2015-05-30,0,0,0,0,1,0.681818
3,299321,departamento en venta en acapulco,<p> raíces dv001 precioso departamento tipo k...,Apartamento,-,Acapulco de Juárez,Guerrero,2,2,2,...,129347.0,16.860487,-99.878383,2015-04-02,0,0,0,0,0,0.650055
4,173570,bonita casa sola equipada de dos niveles en lo...,"<p>casa sola, bonita de dos rec&aacute;maras u...",Casa,CEDROS,Tultitlán,Edo. de México,10,2,1,...,57125.0,19.640482,-99.127273,2013-08-15,0,0,0,1,1,0.324206

# Modelo Random Forest

### MAE score para RF

In [31]:
Numericos = ['antiguedad','habitaciones','garages','banos','metroscubiertos','metrostotales','gimnasio',\
             'usosmultiples','piscina','escuelascercanas','centroscomercialescercanos', 'puntaje_por_fecha']
X = train[Numericos].join(dummies).join(dummies_prov)
Y = train['precio']

In [ ]:
mostrar_importancias(X,Y,RF_model)

In [ ]:
#Mido el score
RF_model.fit(X,Y)
scores = cross_val_score(RF_model , X, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score3 = -scores.mean()
RF_mae_score3

**Es evidente que este feature funcionó muy bien, pues el escore bajó bastante luego de agregar este feature. Dado que el resultado es bueno este feature se conservará en el set de features definitivo.**

## Veamos ahora qué pasa si normalizo los datos

In [20]:
from sklearn import preprocessing 
def normalizar_data(df):
    min_max_scaler = preprocessing.MinMaxScaler() 
    np_scaled = min_max_scaler.fit_transform(df)
    df_norm = pd.DataFrame(np_scaled)
    df_norm.columns = df.columns
    return df_norm

In [33]:
X_normalized = normalizar_data(X)
X_normalized.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,...,prop_N/A,prop_Nave industrial,prop_Oficina comercial,prop_Otros,prop_Quinta Vacacional,prop_Rancho,prop_Terreno,prop_Terreno comercial,prop_Terreno industrial,prop_Villa
0,0.1000,0.111111,0.333333,0.333333,0.153302,0.153302,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.1250,0.222222,0.666667,0.333333,0.596698,0.389151,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0625,0.222222,0.666667,0.333333,0.304245,0.356132,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0125,0.111111,0.333333,0.000000,0.113208,0.122642,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.1250,0.111111,0.333333,0.000000,0.188679,0.188679,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Vuelvo a evaluar el score con Random Forest y los features normalizados

In [ ]:
#Mido el score
RF_model.fit(X_normalized,Y)
scores = cross_val_score(RF_model , X_normalized, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score4 = -scores.mean()
RF_mae_score4

## Features descripcion

Para el primer TP descubrimos que habia ciertas palabras que estaban correlacionadas a mayor precio y otras a menor precio. Usando esa informacion vamos a armar features que nos digan si la descripcion tiene o no determinada palabra

In [21]:
#Paso todas las descripciones a minúscula para contar las palabras con mas precision
train['descripcion']=train['descripcion'].apply(lambda x: x.lower())

In [22]:
Palabras_mayor_precio=['cuarto','vestidor','terraza','family','vista','bodega',\
                       'salón','estudio','jardín','room','jacuzzi','lujo','antecomedor',\
                       'tv','fiestas','juegos','estacionamiento','gimnasio','nado',\
                       'lugares','doble','desayunador','servicio','chimenea','visita',\
                       'acabado','espacio','salon','alberca','garden','spa']
Palabras_menor_precio=['minutos','acept','boiler','reja','credito','transporte'\
                      ,'cochera','contado','escuela','inf','fovissste','cerca',\
                      'bancario','protecciones','patio','infonavit']
Palabras=Palabras_mayor_precio + Palabras_menor_precio

In [23]:
prueba=train.head(5)

In [24]:
dummies_palabras_descr=pd.DataFrame()
#Por cada palabra en la lista genero una columna que diga si la descripcion contenia esa palabra o no
for palabra in Palabras:
    dummies_palabras_descr[palabra]=train['descripcion'].apply(lambda x: palabra in x).astype(np.int8)
#Renombro estas columnas agregandoles un prefijo
dummies_palabras_descr=dummies_palabras_descr.add_prefix('desc_')

In [25]:
dummies_palabras_descr.head(3)

,desc_cuarto,desc_vestidor,desc_terraza,desc_family,desc_vista,desc_bodega,desc_salón,desc_estudio,desc_jardín,desc_room,...,desc_cochera,desc_contado,desc_escuela,desc_inf,desc_fovissste,desc_cerca,desc_bancario,desc_protecciones,desc_patio,desc_infonavit
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,1,1,0,1,0,0,1,0

In [26]:
dummies_palabras_descr_test=pd.DataFrame()
#Hago lo mismo para el set de test
for palabra in Palabras:
    dummies_palabras_descr_test[palabra]=test['descripcion'].apply(lambda x: palabra in x).astype(np.int8)
dummies_palabras_descr_test=dummies_palabras_descr_test.add_prefix('desc_')

In [27]:
dummies_palabras_descr_test.head()

,desc_cuarto,desc_vestidor,desc_terraza,desc_family,desc_vista,desc_bodega,desc_salón,desc_estudio,desc_jardín,desc_room,...,desc_cochera,desc_contado,desc_escuela,desc_inf,desc_fovissste,desc_cerca,desc_bancario,desc_protecciones,desc_patio,desc_infonavit
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

# Nuevos features sobre la SVD

Aplico la SVD a los features que tengo hasta el momento, y veo dónde se concentra la energía de la matriz. La idea es crear nuevos features a partir de esta información.

In [38]:
from scipy.linalg import svd
from scipy.sparse.linalg import svds

In [ ]:
# Utilizo el set de datos con todos los features creados hasta el momento
data_features = train[Numericos].join(dummies).join(dummies_prov)
#Centro los datos
centered = data_features - data_features.mean()
centered.head()

In [ ]:
centered.shape

In [ ]:
#hago lo mismo para el set de test
# Utilizo el set de datos con todos los features creados hasta el momento
data_features_test = test[Numericos].join(dummies_test).join(dummies_prov_test)
#Centro los datos
centered_test = data_features_test - data_features_test.mean()
centered_test.head()

In [ ]:
centered_test.shape

**Calculo la SVD**

In [ ]:
u, s, vt = svd(centered, full_matrices = False)

u_test, s_test, vt_test = svd(centered_test, full_matrices = False)

In [ ]:
s

**Grafico los autovalores para detectar codos**

In [ ]:
#Set train
plt.style.use('seaborn-darkgrid')
plt.figure(figsize = (10,5))
plt.plot(s)
plt.xticks(list(range(0,70,5)))

In [ ]:
#Set test
plt.figure(figsize = (10,5))
plt.plot(s_test)
plt.xticks(list(range(0,70,5)))

Claramente vemos como con menos de 5 dimensiones podemos concentrar casi la totalidad de la información. 

**Veamos esto en niveles de energía**

In [ ]:
singular_values = s
energy_total = sum(singular_values**2)
sv_pow = singular_values**2
energy_percentage = ((sv_pow / energy_total) * 100)
print(energy_percentage)

In [ ]:
energy_total

## Ahora veo la energia acumulada 


**Set de train**

In [ ]:
acumulated_energy = 0
for i in range(len(energy_percentage)):
    acumulated_energy = acumulated_energy + energy_percentage[i]
    print ('Number of Singular Values ' + str(i+1) + ': ' + str(singular_values[i]) + ' ' + str(round(acumulated_energy,2)) + '%')

Veo que con 3 dimensiones tengo el 99.98% de la energía acumulada.

Puedo tomar las primeras 3 columnas de U y multiplicarlas por las 3 primeras filas y columnas de S, para escalar los datos, y agregar esas columnas como features

In [ ]:
#set de train, tomo una representación de los datos en 3 dimensiones
aprox3 = np.matrix(u[:, :3]) * np.diag(s[:3]) 
features_svd = pd.DataFrame(aprox3)
features_svd.columns = ['svd1', 'svd2', 'svd3']
features_svd.head()

In [ ]:
features_totales = data_features.join(features_svd)
features_totales.head()

Hago lo mismo para el set de test

In [ ]:
#set de train, tomo una representación de los datos en 3 dimensiones
aprox3_test = np.matrix(u_test[:, :3]) * np.diag(s_test[:3]) 
features_svd_test= pd.DataFrame(aprox3_test)
features_svd_test.columns = ['svd1', 'svd2', 'svd3']
features_svd_test.head()

In [ ]:
features_totales_test = data_features_test.join(features_svd_test)
features_totales_test.head()

In [ ]:
features_totales_test.shape

# Modelo Random Forest

### MAE score para RF

In [ ]:
X = features_totales

In [ ]:
mostrar_importancias(X,Y,RF_model)

Como podemos observar en el gráfico los features sobre la svd son bastante importantes. 

Observemos ahora si esto implica mejoras en las predicciones de nuestro modelo o no.

In [ ]:
#Mido el score con Random Forest
RF_model.fit(X,Y)
scores = cross_val_score(RF_model , X, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score5 = -scores.mean()
RF_mae_score5

**Estos features parecen funcionar bien en mi máquina, pero al probar con un submit en Kaggle el resultado fue muy malo, por lo que se lo descarta.**

# Genero un nuevo feature tomando en cuenta las ciudades en las que se encuentran  las propiedades

In [ ]:
train.ciudad.nunique()

**Mi idea es crear un rango de valores que pueden tomar las propiedades según las ciudades, y colocar esto como features**

Tomo el mínimo y el máximo y genero dos nuevas columnas con estos valores, asignandolo de acuerdo a la ciudad en la que se encuentra cada propiedad

In [ ]:
precios_ciudades = train.groupby('ciudad').agg({'precio': ['min', 'max']}).reset_index()
precios_ciudades.columns = ['ciudad', 'precio_min', 'precio_max']
precios_ciudades.head()

Como se puede observar hay ciudades que tienen un mismo valor para el mínimo y el máximo, esto puede deberse a que sólo haya una publicación en esa ciudad, o las publicaciones correspondan a la misma propiedad o algún conjunto de propiedades que correspondan al mismo publicitante.

Solucionaremos este problema indicando para esos casos un rango mucho más amplio, para hacerlo tomaremos el mínimo de todas las ciudades y el máximo de todas las cidades.

In [ ]:
minimos = list(precios_ciudades['precio_min'])
maximos = list(precios_ciudades['precio_max'])
minimo_total = min(minimos)
maximo_total = max(maximos)
for i in range(len(minimos)):
    if (minimos[i] == maximos[i]):
        minimos[i] = minimo_total
        maximos[i] = maximo_total
precios_ciudades['precio_min'] = pd.Series(minimos)
precios_ciudades['precio_max'] = pd.Series(maximos)
precios_ciudades.head()

In [ ]:
train_features = train.merge(precios_ciudades, on='ciudad')
test_features = test.merge(precios_ciudades, on='ciudad', how = 'left').fillna(0)
#Como puede suceder que haya ciudades que no aparecian en el set de train tomo el mínimo y el máximo valor visto
#en el set de train para cubrir los mínimos y máximos de las ciudades que no tienen precios registrados
minimos = list(test_features['precio_min'])
maximos = list(test_features['precio_max'])
for i in range(len(minimos)):
    if (minimos[i] == maximos[i]):
        minimos[i] = minimo_total
        maximos[i] = maximo_total
test_features['precio_min'] = pd.Series(minimos)
test_features['precio_max'] = pd.Series(maximos)
Numericos = ['antiguedad','habitaciones','garages','banos','metroscubiertos','metrostotales','gimnasio',\
             'usosmultiples','piscina','escuelascercanas','centroscomercialescercanos','puntaje_por_fecha',\
            'precio_min', 'precio_max']

In [ ]:
test_features.shape

## Pruebo el modelo con este nuevo feature

In [ ]:
X=train_features[Numericos].join(dummies).join(dummies_prov)
Y=train['precio']

In [ ]:
X_test = test_features[Numericos].join(dummies_test).join(dummies_prov_test)

In [ ]:
X_test.shape

# Modelo Random Forest

### MAE score para RF

In [ ]:
mostrar_importancias(X,Y, RF_model)

**Pruebo el modelo con los nuevos features de rango de precios**

In [ ]:
scores = cross_val_score(RF_model , X, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score6= -scores.mean()
RF_mae_score6

**Se puede observar como estos features tampoco resultaron ser muy buenos, ni siquiera normalizando el set de features, por lo que se los descarta.**

## Veo otra alternativa para crear features sobre las ciudades

Utilizaré OneHotEncoding para crear un set de datos donde las columnas seran las ciudades y se marcará con 0 y 1 según si la publicación pertenece o no a cada ciudad.

In [41]:
enc_ciud = OneHotEncoder(handle_unknown='ignore')
dummies_ciud = enc_ciud.fit_transform(train['ciudad'].values.reshape(-1, 1)).toarray()
dummies_ciud = pd.DataFrame(dummies_ciud)

dummies_ciud_test = enc_ciud.transform(test['ciudad'].values.reshape(-1, 1)).toarray()
dummies_ciud_test = pd.DataFrame(dummies_ciud_test)

dummies_ciud.columns=enc_ciud.categories_[0].tolist()
dummies_ciud=dummies_ciud.add_prefix('ciud_')
dummies_ciud=dummies_ciud.astype(np.int8)

dummies_ciud_test.columns=enc_ciud.categories_[0].tolist()
dummies_ciud_test=dummies_ciud_test.add_prefix('ciud_')
dummies_ciud_test=dummies_ciud_test.astype(np.int8)

In [42]:
dummies_ciud.head()

,ciud_Abalá,ciud_Abasolo,ciud_Abejones,ciud_Acajete,ciud_Acambay,ciud_Acaponeta,ciud_Acapulco de Juárez,ciud_Acateno,ciud_Acatic,ciud_Acatzingo,...,ciud_Zitácuaro,ciud_Zumpahuacán,ciud_Zumpango,ciud_otra,ciud_ácatlán,ciud_ácatlán de Juárez,ciud_ácaxochitlán,ciud_ácámbaro,ciud_áutlán de Navarro,ciud_áyotlán
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
dummies_ciud_test.head()

,ciud_Abalá,ciud_Abasolo,ciud_Abejones,ciud_Acajete,ciud_Acambay,ciud_Acaponeta,ciud_Acapulco de Juárez,ciud_Acateno,ciud_Acatic,ciud_Acatzingo,...,ciud_Zitácuaro,ciud_Zumpahuacán,ciud_Zumpango,ciud_otra,ciud_ácatlán,ciud_ácatlán de Juárez,ciud_ácaxochitlán,ciud_ácámbaro,ciud_áutlán de Navarro,ciud_áyotlán
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Pruebo el modelo agregando todas las columnas

In [63]:
Numericos = ['antiguedad','habitaciones','garages','banos','metroscubiertos','metrostotales','gimnasio',\
             'usosmultiples','piscina','escuelascercanas','centroscomercialescercanos', 'puntaje_por_fecha']
X= train[Numericos].join(dummies).join(dummies_prov).join(dummies_ciud)
X_test = test[Numericos].join(dummies_test).join(dummies_prov_test).join(dummies_ciud_test)
X.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,...,ciud_Zitácuaro,ciud_Zumpahuacán,ciud_Zumpango,ciud_otra,ciud_ácatlán,ciud_ácatlán de Juárez,ciud_ácaxochitlán,ciud_ácámbaro,ciud_áutlán de Navarro,ciud_áyotlán
0,8,2,1,2,80,80,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10,3,2,2,268,180,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,5,3,2,2,144,166,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2,1,1,63,67,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10,2,1,1,95,95,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
RF_model.fit(X,Y)
scores = cross_val_score(RF_model , X, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score7= -scores.mean()
RF_mae_score7

/home/sol/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

612013.6700516662

## Pruebo con los datos normalizados

In [44]:
X_norm = normalizar_data(X)
X_test_norm = normalizar_data(X_test)

In [ ]:
RF_model.fit(X_norm,Y)
scores = cross_val_score(RF_model , X_norm, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score9= -scores.mean()
RF_mae_score9

/home/sol/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

**Como tengo demasiadas ciudades como para generar una columna por cada una, y además la cantidad de ciudades no coinciden para el set de train y el set de test, lo que voy a hacer es utilizar la SVD para obtener features.**

In [ ]:
centered = dummies_ciudades - dummies_ciudades.mean()
centered.head()

In [ ]:
centered_test = dummies_ciudades_test - dummies_ciudades_test.mean()
centered_test.head()

In [ ]:
u, s, vt = svd(centered, full_matrices = False)

u_test, s_test, vt_test = svd(centered_test, full_matrices = False)

In [ ]:
#Set train
plt.style.use('seaborn-darkgrid')
plt.figure(figsize = (10,5))
plt.plot(s)

In [ ]:
singular_values = s
energy_total = sum(singular_values**2)
sv_pow = singular_values**2
energy_percentage = ((sv_pow / energy_total) * 100)

In [ ]:
acumulated_energy = 0
for i in range(len(energy_percentage)):
    acumulated_energy = acumulated_energy + energy_percentage[i]
    print ('Number of Singular Values ' + str(i+1) + ': ' + str(singular_values[i]) + ' ' + str(round(acumulated_energy,2)) + '%')

In [ ]:
singular_values = s_test
energy_total = sum(singular_values**2)
sv_pow = singular_values**2
energy_percentage = ((sv_pow / energy_total) * 100)

In [ ]:
acumulated_energy = 0
for i in range(len(energy_percentage)):
    acumulated_energy = acumulated_energy + energy_percentage[i]
    print ('Number of Singular Values ' + str(i+1) + ': ' + str(singular_values[i]) + ' ' + str(round(acumulated_energy,2)) + '%')

**Vemos que con 80 dimensiones podemos capturar aproximadamente el 90% de la información sobre las ciudades y con 19 el 50%.**

In [ ]:
aprox19 = np.matrix(u[:, :19]) * np.diag(s[:19]) 
features_svd = pd.DataFrame(aprox19)
features_svd = features_svd.add_prefix('svd_')
features_svd.head()

In [ ]:
aprox19_test = np.matrix(u_test[:, :19]) * np.diag(s_test[:19]) 
features_svd_test = pd.DataFrame(aprox19_test)
features_svd_test = features_svd_test.add_prefix('svd_')
features_svd_test.head()

## Pruebo el modelo

In [ ]:
Numericos = ['antiguedad','habitaciones','garages','banos','metroscubiertos','metrostotales','gimnasio',\
             'usosmultiples','piscina','escuelascercanas','centroscomercialescercanos','puntaje_por_fecha']
X = train[Numericos].join(dummies).join(dummies_prov).join(features_svd)
Y = train['precio']

In [ ]:
X.head()

In [ ]:
X_test = test[Numericos].join(dummies_test).join(dummies_prov_test).join(features_svd_test)
X_test.head()

In [ ]:
mostrar_importancias(X,Y, RF_model)

In [ ]:
RF_model.fit(X,Y)
scores = cross_val_score(RF_model , X, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score10= -scores.mean()
RF_mae_score10

## Pruebo con los datos normalizados

In [ ]:
X_normalized = normalizar_data(X)
X_test_normalized = normalizar_data(X_test)

In [ ]:
X_test_normalized.head()

**Pruebo el modelo con los datos normalizados**

In [ ]:
#Utilizo el modelo que funciona mejor, Random Forest
scores = cross_val_score(RF_model , X_normalized, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score11 = -scores.mean()
RF_mae_score11

**Las veces que se utiliza la svd los resultados parecen buenos para el sset de tarin pero no lo son para el set de test, por lo que no se utilizará. Para solucionar el tema del gran número de columnas probaremos otro tipo de encoder para las ciudades**

## Target Encoder para las ciudades

Utilizo el campo de metrostotales como target pues como hemos visto en el TP1 el precio está fuertemente ligado a la cantidad de metrostotales, como en el set de test no disponemos del precio me parecio una buena idea usarlo de esta manera, sin mencionar que este feature resulta ser el más importante, según las importancias devueltas por random forest.

In [42]:
target_enc = ce.TargetEncoder(cols = ['ciudad'])
target_enc.fit(train[['ciudad']], train['metrostotales'])
encoder_ciud = target_enc.transform(train[['ciudad']]).add_suffix('_target')
encoder_ciud_test = target_enc.transform(test[['ciudad']]).add_suffix('_target')

In [43]:
encoder_ciud.head()

   ciudad_target
0     153.438442
1     209.363780
2     113.412358
3     172.811688
4     170.897104

In [44]:
encoder_ciud_test.head()

   ciudad_target
0     162.858499
1     239.065345
2     170.360098
3     172.839853
4     118.508260

## Pruebo el modelo con el nuevo feature

In [45]:
Numericos = ['antiguedad','habitaciones','garages','banos','metroscubiertos','metrostotales','gimnasio',\
             'usosmultiples','piscina','escuelascercanas','centroscomercialescercanos','puntaje_por_fecha']
X = train[Numericos].join(dummies).join(dummies_prov).join(encoder_ciud)
X_test = test[Numericos].join(dummies_test).join(dummies_prov_test).join(encoder_ciud_test)
Y = train['precio']

In [46]:
RF_model.fit(X,Y)
scores = cross_val_score(RF_model , X, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score12= -scores.mean()
RF_mae_score12

/home/sol/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

623609.7398561941

In [48]:
#Pruebo con los datos normalizados
X_norm = normalizar_data(X)
X_test_norm = normalizar_data(X_test)
RF_model.fit(X_norm,Y)
scores = cross_val_score(RF_model , X_norm, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score13= -scores.mean()
RF_mae_score13

625412.1461772388

## Pruebo otra alternativa: CatBoostEncoder para las ciudades

In [54]:
catBoost_enc = ce.CatBoostEncoder(cols=['ciudad'])

catBoost_enc.fit(train[['ciudad']], train['metrostotales'])

catboost_ciudades = catBoost_enc.transform(train[['ciudad']]).add_suffix('_catboost')
catboost_ciudades_test = catBoost_enc.transform(test[['ciudad']]).add_suffix('_catboost')

In [55]:
catboost_ciudades.head()

   ciudad_catboost
0       153.440564
1       209.346703
2       113.492211
3       172.837519
4       170.897675

In [56]:
catboost_ciudades_test.head()

   ciudad_catboost
0       162.860907
1       239.056654
2       170.361318
3       172.841473
4       118.564869

## Vuelvo a probar el modelo

In [57]:
Numericos = ['antiguedad','habitaciones','garages','banos','metroscubiertos','metrostotales','gimnasio',\
             'usosmultiples','piscina','escuelascercanas','centroscomercialescercanos','puntaje_por_fecha']
X = train[Numericos].join(dummies).join(dummies_prov).join(catboost_ciudades)
X_test = test[Numericos].join(dummies_test).join(dummies_prov_test).join(catboost_ciudades_test)
Y = train['precio']

In [60]:
RF_model.fit(X,Y)
scores = cross_val_score(RF_model , X, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score14= -scores.mean()
RF_mae_score14

/home/sol/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

622606.7332533938

In [61]:
#Pruebo con los datos normalizados
X_norm = normalizar_data(X)
X_test_norm = normalizar_data(X_test)
RF_model.fit(X_norm,Y)
scores = cross_val_score(RF_model , X_norm, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score15= -scores.mean()
RF_mae_score15

623646.5747210974

## Agrego más features basados en las fechas

In [31]:
train['dia'] = train['fecha'].dt.day
train['mes'] = train['fecha'].dt.month
train['año'] = train['fecha'].dt.year
train.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio,puntaje_por_fecha,dia,mes,año
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,8,2,1,...,0,0,0,0,0,2273000,0.728368,23,8,2015
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10,3,2,...,0,0,0,1,1,3600000,0.297919,28,6,2013
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5,3,2,...,0,0,0,0,0,1200000,0.758488,17,10,2015
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1,2,1,...,0,0,0,1,1,650000,0.037240,9,3,2012
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10,2,1,...,0,0,0,0,0,1150000,0.886637,7,6,2016

In [32]:
test['dia'] = test['fecha'].dt.day
test['mes'] = test['fecha'].dt.month
test['año'] = test['fecha'].dt.year
test.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,puntaje_por_fecha,dia,mes,año
0,4941,"casa en venta en miguel hidalgo, distrito federal",<p>excelente casa estilo moderno.</p>,Casa,Bosque de Cedros,Miguel Hidalgo,Distrito Federal,29,3,2,...,2013-07-20,0,0,0,0,0,0.309967,20,7,2013
1,51775,departamentos en venta en montebello,<p>departamento una recamara:\n</p><p>departam...,Apartamento,-,Mérida,Yucatán,8,1,1,...,2015-10-24,0,0,0,0,0,0.762322,24,10,2015
2,115253,departamento nuevo delegación coyoacán de 87 m...,"departamento nuevo de 87.06 m2, 1 cajón de est...",Apartamento,"Pueblo de los Reyes, Coyoacán, Mexico D.F.",Coyoacán,Distrito Federal,0,2,1,...,2015-05-30,0,0,0,0,1,0.681818,30,5,2015
3,299321,departamento en venta en acapulco,<p> raíces dv001 precioso departamento tipo k...,Apartamento,-,Acapulco de Juárez,Guerrero,2,2,2,...,2015-04-02,0,0,0,0,0,0.650055,2,4,2015
4,173570,bonita casa sola equipada de dos niveles en lo...,"<p>casa sola, bonita de dos rec&aacute;maras u...",Casa,CEDROS,Tultitlán,Edo. de México,10,2,1,...,2013-08-15,0,0,0,1,1,0.324206,15,8,2013

In [34]:
Numericos = ['antiguedad','habitaciones','garages','banos','metroscubiertos','metrostotales','gimnasio',\
             'usosmultiples','piscina','escuelascercanas','centroscomercialescercanos','puntaje_por_fecha',\
            'dia', 'mes', 'año']
#unificación de los dummies
#dummies=dummies.join(dummies_ciud).join(dummies_prov).join(dummies_palabras_descr)
#dummies_test=dummies_test.join(dummies_ciud_test).join(dummies_prov_test).join(dummies_palabras_descr_test)

## Pruebo el modelo con estos nuevos features

In [47]:
X = train[Numericos].join(dummies)
X_test = test[Numericos].join(dummies_test)

In [48]:
#Normalizo los datos
X_norm = normalizar_data(X)
X_test_norm = normalizar_data(X_test)

In [ ]:
##Pruebo el modelo
RF_model=RandomForestRegressor()
RF_model.fit(X_norm,Y)
scores = cross_val_score(RF_model , X_norm, Y, scoring="neg_mean_absolute_error", cv=10)
RF_mae_score14= -scores.mean()
RF_mae_score14

# Pruebo una alternativa sin OneHotEncoder


***Utilizare catboost encoder para tipodepropiedad, provincias, ciudades e idzona***

In [37]:
catBoost_enc = ce.CatBoostEncoder(cols=['ciudad', 'provincia', 'tipodepropiedad', 'idzona'])

catBoost_enc.fit(train[['ciudad', 'provincia', 'tipodepropiedad', 'idzona']], train['metrostotales'])

catboost_result = catBoost_enc.transform(train[['ciudad', 'provincia', 'tipodepropiedad', 'idzona']]).add_suffix('_catboost')
catboost_result_test = catBoost_enc.transform(test[['ciudad', 'provincia', 'tipodepropiedad', 'idzona']]).add_suffix('_catboost')

In [38]:
catboost_result.head()

,ciudad_catboost,provincia_catboost,tipodepropiedad_catboost,idzona_catboost
0,153.440564,166.946060,146.756214,147.563262
1,209.346703,166.946060,170.538751,203.549604
2,113.492211,165.620171,182.972416,124.687577
3,172.837519,174.116608,182.972416,158.459736
4,170.897675,165.620171,146.756214,141.345754

## pruebo el modelo

In [39]:
X = train[Numericos].join(catboost_result).join(dummies_palabras_descr)
X_test = test[Numericos].join(catboost_result_test).join(dummies_palabras_descr_test)

In [ ]:
RF_model = RandomForestRegressor(n_estimators=100,random_state=42)
mostrar_importancias(X,Y, RF_model)

In [ ]:
#Veo el score
scores = cross_val_score(RF_model , X, Y, scoring="neg_mean_absolute_error", cv=5)
RF_mae_score15 = -scores.mean()

In [2]:
RF_mae_score15

569599.9070464509

In [40]:
#normalizo los datos
X_norm = normalizar_data(X)
X_norm_test = normalizar_data(X_test)

In [43]:
X_norm.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,...,desc_cochera,desc_contado,desc_escuela,desc_inf,desc_fovissste,desc_cerca,desc_bancario,desc_protecciones,desc_patio,desc_infonavit
0,0.1000,0.111111,0.333333,0.333333,0.153302,0.153302,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.1250,0.222222,0.666667,0.333333,0.596698,0.389151,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0625,0.222222,0.666667,0.333333,0.304245,0.356132,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0125,0.111111,0.333333,0.000000,0.113208,0.122642,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.1250,0.111111,0.333333,0.000000,0.188679,0.188679,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#Veo el score con los datos normalizados
scores = cross_val_score(RF_model , X_norm, Y, scoring="neg_mean_absolute_error", cv=5)
RF_mae_score16 = -scores.mean()

In [42]:
RF_mae_score16

569705.8279746913

# Creación del archivo Submit

In [11]:
RF_model=RandomForestRegressor(random_state=42,n_estimators=80)
submit1 = crear_submit(RF_model,X_norm, Y['precio'], X_test_norm, "RF_ciudades_OneHot_normalizado")
submit1.head()

       id        target
0    4941  4.314625e+06
1   51775  9.450369e+05
2  115253  2.196227e+06
3  299321  1.208307e+06
4  173570  5.713312e+05