In [0]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
#!pip install notify_run

Requirement already satisfied: notify_run in /usr/local/lib/python3.6/dist-packages (0.0.12)
Requirement already satisfied: requests==2.20.0 in /usr/local/lib/python3.6/dist-packages (from notify_run) (2.20.0)
Requirement already satisfied: PyQRCode==1.2.1 in /usr/local/lib/python3.6/dist-packages (from notify_run) (1.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests==2.20.0->notify_run) (2019.9.11)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests==2.20.0->notify_run) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests==2.20.0->notify_run) (3.0.4)
Requirement already satisfied: idna<2.8,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests==2.20.0->notify_run) (2.7)

In [0]:
#!notify-run register

Overwrite existing configuration (https://notify.run/cDLqkENO9pcS7P7F)? [y/N]
N

In [0]:
#from notify_run import Notify
#notify = Notify()

# Carga y limpieza de datos

## (Hecho con la info obtenida en el notebook LimpiezaDeDatos)

In [0]:
#import io
#ruta = io.StringIO(uploaded['train.csv'].decode('utf-8'))
ejemplo = pd.read_csv("../content/drive/My Drive/data/ejemploRespuesta.csv", names = ["id", "precio"])
test = pd.read_csv("../content/drive/My Drive/data/test.csv", parse_dates = ['fecha'])
train = pd.read_csv("../content/drive/My Drive/data/train.csv",parse_dates = ['fecha'])
#ejemplo =  pd.read_csv('data/ejemploRespuesta.csv', names = ["id", "precio"] )
#test =  pd.read_csv('data/test.csv', parse_dates = ['fecha'])
#train = pd.read_csv('data/train.csv',parse_dates = ['fecha'])

In [0]:
#A los nulls los relleno con el promedio de metroscubiertos de todas las publicaciones
train['metroscubiertos']=train['metroscubiertos'].fillna(round(train['metroscubiertos'].mean()))
test['metroscubiertos']=test['metroscubiertos'].fillna(round(test['metroscubiertos'].mean()))
#Luego convierto metroscubiertos a  np.int16
train['metroscubiertos']=train['metroscubiertos'].astype(np.int16)
test['metroscubiertos']=test['metroscubiertos'].astype(np.int16)

In [0]:
#A los nulls los relleno con el promedio de metrostotales de todas las publicaciones
train['metrostotales']=train['metrostotales'].fillna(round(train['metrostotales'].mean()))
test['metrostotales']=test['metrostotales'].fillna(round(test['metrostotales'].mean()))
#Luego convierto metrostotales a  np.int16
train['metrostotales']=train['metrostotales'].astype(np.int16)
test['metrostotales']=test['metrostotales'].astype(np.int16)

In [0]:
#El precio promedio de las publicaciones que no tienen datos de cant de habitaciones esta entre el precio
#promedio de las que tienen 2 y 3 habitaciones
#Entonces voy a asumir que tienen 3 habitaciones, ya que es el valor al cual el precio mas se les asemeja.
train['habitaciones']=train['habitaciones'].fillna(3)
test['habitaciones']=test['habitaciones'].fillna(3)
#Luego convierto a np.int8
train['habitaciones']=train['habitaciones'].astype(np.int8)
test['habitaciones']=test['habitaciones'].astype(np.int8)

In [0]:
#A los que no tienen datos de antiguedad los relleno con la antiguedad promedio (es 8)
train['antiguedad']=train['antiguedad'].fillna(round(train['antiguedad'].mean()))
test['antiguedad']=test['antiguedad'].fillna(round(train['antiguedad'].mean()))
#Luego convierto a np.uint8
train['antiguedad']=train['antiguedad'].astype(np.uint8)
test['antiguedad']=test['antiguedad'].astype(np.uint8)

In [0]:
#El precio promedio de los que tienen NULL en garage es parecido al de los que tienen 2.
#Relleno los nulls de esta columna con un 2.
train['garages']=train['garages'].fillna(2)
test['garages']=test['garages'].fillna(2)
#convierto a np.int8
train['garages']=train['garages'].astype(np.int8)
test['garages']=test['garages'].astype(np.int8)

In [0]:
#El precio promedio de los que tienen NULL en banos es mas parecido al de los que tienen 2.
#Relleno los nulls de esta columna con un 2.
train['banos']=train['banos'].fillna(2)
test['banos']=test['banos'].fillna(2)
#convierto a np.int8
train['banos']=train['banos'].astype(np.int8)
test['banos']=test['banos'].astype(np.int8)

In [0]:
train['gimnasio']=train['gimnasio'].astype(np.int8)
train['usosmultiples']=train['usosmultiples'].astype(np.int8)
train['piscina']=train['piscina'].astype(np.int8)
train['escuelascercanas']=train['escuelascercanas'].astype(np.int8)
train['centroscomercialescercanos']=train['centroscomercialescercanos'].astype(np.int8)
test['gimnasio']=test['gimnasio'].astype(np.int8)
test['usosmultiples']=test['usosmultiples'].astype(np.int8)
test['piscina']=test['piscina'].astype(np.int8)
test['escuelascercanas']=test['escuelascercanas'].astype(np.int8)
test['centroscomercialescercanos']=test['centroscomercialescercanos'].astype(np.int8)

In [0]:
#Creo categoria para los que no tienen categoria en provincia:
train['provincia']=train['provincia'].fillna('N/A')
test['provincia']=test['provincia'].fillna('N/A')
#Creo categoria para los que no tienen categoria en ciudad:
train['ciudad']=train['ciudad'].fillna('N/A')
test['ciudad']=test['ciudad'].fillna('N/A')
#Relleno los nulls en direccion con un - .
train['direccion']=train['direccion'].fillna('-')
test['direccion']=test['direccion'].fillna('-')
#Creo categoria para los que no tienen categoria en tipodepropiedad:
train['tipodepropiedad']=train['tipodepropiedad'].fillna('N/A')
test['tipodepropiedad']=test['tipodepropiedad'].fillna('N/A')

In [0]:
train['titulo']=train['titulo'].fillna(' ')
train['descripcion']=train['descripcion'].fillna(' ')
test['titulo']=test['titulo'].fillna(' ')
test['descripcion']=test['descripcion'].fillna(' ')

In [0]:
train['precio']=train['precio'].astype(np.int32)
train['id']=train['id'].astype(np.int32)
test['id']=test['id'].astype(np.int32)

In [0]:
#Algunas columnas tienen nulls que no se como encararlos. Por ahora los relleno con 0
train=train.fillna(0)
test=test.fillna(0)

# Armado de features:

In [76]:
train.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio'],
      dtype='object')

In [77]:
test.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos'],
      dtype='object')

## OneHotEncoding para tipodepropiedad

In [0]:
#Voy a usar OneHotEncoder para convertir la columna categorica tipodepropiedad en dummies.
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
dummies = enc.fit_transform(train['tipodepropiedad'].values.reshape(-1, 1)).toarray()
dummies = pd.DataFrame(dummies)
dummies_test = enc.transform(test['tipodepropiedad'].values.reshape(-1, 1)).toarray()
dummies_test = pd.DataFrame(dummies_test)

In [0]:
dummies.columns=enc.categories_[0].tolist()
dummies=dummies.add_prefix('prop_')
dummies=dummies.astype(np.int8)

dummies_test.columns=enc.categories_[0].tolist()
dummies_test=dummies_test.add_prefix('prop_')
dummies_test=dummies_test.astype(np.int8)

In [80]:
dummies.head()

   prop_Apartamento  prop_Bodega comercial  ...  prop_Terreno industrial  prop_Villa
0                 1                      0  ...                        0           0
1                 0                      0  ...                        0           0
2                 0                      0  ...                        0           0
3                 0                      0  ...                        0           0
4                 1                      0  ...                        0           0

[5 rows x 25 columns]

In [81]:
dummies_test.head()

   prop_Apartamento  prop_Bodega comercial  ...  prop_Terreno industrial  prop_Villa
0                 0                      0  ...                        0           0
1                 1                      0  ...                        0           0
2                 1                      0  ...                        0           0
3                 1                      0  ...                        0           0
4                 0                      0  ...                        0           0

[5 rows x 25 columns]

## OneHotEncoding para provincias

In [0]:
#Voy a usar OneHotEncoder para convertir la columna categorica provincia en dummies.
enc_prov = OneHotEncoder()
dummies_prov = enc_prov.fit_transform(train['provincia'].values.reshape(-1, 1)).toarray()
dummies_prov = pd.DataFrame(dummies_prov)

dummies_prov_test = enc_prov.transform(test['provincia'].values.reshape(-1, 1)).toarray()
dummies_prov_test = pd.DataFrame(dummies_prov_test)

In [0]:
dummies_prov.columns=enc_prov.categories_[0].tolist()
dummies_prov=dummies_prov.add_prefix('prov_')
dummies_prov=dummies_prov.astype(np.int8)

dummies_prov_test.columns=enc_prov.categories_[0].tolist()
dummies_prov_test=dummies_prov_test.add_prefix('prov_')
dummies_prov_test=dummies_prov_test.astype(np.int8)

In [84]:
dummies_prov.head()

   prov_Aguascalientes  ...  prov_Zacatecas
0                    0  ...               0
1                    0  ...               0
2                    0  ...               0
3                    0  ...               0
4                    0  ...               0

[5 rows x 33 columns]

# OneHotEncoding para ciudades

In [85]:
#Mismo procedimiento que el anterior pero para ciudades
enc_ciud = OneHotEncoder(handle_unknown='ignore')
dummies_ciud = enc_ciud.fit_transform(train['ciudad'].values.reshape(-1, 1)).toarray()
dummies_ciud = pd.DataFrame(dummies_ciud)

dummies_ciud_test = enc_ciud.transform(test['ciudad'].values.reshape(-1, 1)).toarray()
dummies_ciud_test = pd.DataFrame(dummies_ciud_test)

dummies_ciud.columns=enc_ciud.categories_[0].tolist()
dummies_ciud=dummies_ciud.add_prefix('ciud_')
dummies_ciud=dummies_ciud.astype(np.int8)

dummies_ciud_test.columns=enc_ciud.categories_[0].tolist()
dummies_ciud_test=dummies_ciud_test.add_prefix('ciud_')
dummies_ciud_test=dummies_ciud_test.astype(np.int8)

dummies_ciud.head()

   ciud_Abalá  ciud_Abasolo  ...  ciud_áutlán de Navarro  ciud_áyotlán
0           0             0  ...                       0             0
1           0             0  ...                       0             0
2           0             0  ...                       0             0
3           0             0  ...                       0             0
4           0             0  ...                       0             0

[5 rows x 876 columns]

## Features sobre el tiempo

En el TP1 vimos como los precios iban en aumento a medida que el tiempo aumentaba, por lo que nos interesa crear nuevos features tomando en cuenta el tiempo en el que se publicaron las propiedades.


Para realizar un nuevo feature comenzaremos añadiendo un peso para cada fecha, este peso irá en aumento a medida que las fechas van subiendo, así simularemos el crecimiento del precio a lo largo del tiempo.

In [0]:
#Califico las fechas de acuerdo a la diferencia entre la fecha actual y la fecha mínima sobre el máximo de dias
fecha_min = train.fecha.min()
fecha_max = train.fecha.max()
delta_max_days = (fecha_max - fecha_min).days
def calificar_fecha(fecha):
    delta = fecha - fecha_min
    return delta.days/delta_max_days

In [87]:
train["puntaje_por_fecha"] = train['fecha'].transform(lambda x: calificar_fecha(x))
train.head(1)

       id             titulo  ...   precio puntaje_por_fecha
0  254099  depto. tipo a-402  ...  2273000          0.728368

[1 rows x 24 columns]

In [88]:
#Set de test
fecha_min = test.fecha.min()
fecha_max = test.fecha.max()
delta_max_days = (fecha_max - fecha_min).days
test["puntaje_por_fecha"] = test['fecha'].transform(lambda x: calificar_fecha(x))
test.head(1)

     id  ... puntaje_por_fecha
0  4941  ...          0.309967

[1 rows x 23 columns]

## Features descripcion

Para el primer TP descubrimos que habia ciertas palabras que estaban correlacionadas a mayor precio y otras a menor precio. Usando esa informacion vamos a armar features que nos digan si la descripcion tiene o no determinada palabra

In [0]:
#Paso todas las descripciones a minúscula para contar las palabras con mas precision
train['descripcion']=train['descripcion'].apply(lambda x: x.lower())

In [0]:
Palabras_mayor_precio=['cuarto','vestidor','terraza','family','vista','bodega',\
                       'salón','estudio','jardín','room','jacuzzi','lujo','antecomedor',\
                       'tv','fiestas','juegos','estacionamiento','gimnasio','nado',\
                       'lugares','doble','desayunador','servicio','chimenea','visita',\
                       'acabado','espacio','salon','alberca','garden','spa']
Palabras_menor_precio=['minutos','acept','boiler','reja','credito','transporte'\
                      ,'cochera','contado','escuela','inf','fovissste','cerca',\
                      'bancario','protecciones','patio','infonavit']
Palabras=Palabras_mayor_precio + Palabras_menor_precio

In [0]:
dummies_palabras_descr=pd.DataFrame()
#Por cada palabra en la lista genero una columna que diga si la descripcion contenia esa palabra o no
for palabra in Palabras:
    dummies_palabras_descr[palabra]=train['descripcion'].apply(lambda x: palabra in x).astype(np.int8)
#Renombro estas columnas agregandoles un prefijo
dummies_palabras_descr=dummies_palabras_descr.add_prefix('desc_')

In [92]:
dummies_palabras_descr.head(3)

   desc_cuarto  desc_vestidor  ...  desc_patio  desc_infonavit
0            0              0  ...           0               0
1            1              1  ...           0               0
2            0              0  ...           1               0

[3 rows x 47 columns]

In [0]:
dummies_palabras_descr_test=pd.DataFrame()
#Hago lo mismo para el set de test
for palabra in Palabras:
    dummies_palabras_descr_test[palabra]=test['descripcion'].apply(lambda x: palabra in x).astype(np.int8)
dummies_palabras_descr_test=dummies_palabras_descr_test.add_prefix('desc_')

In [94]:
dummies_palabras_descr_test.head()

   desc_cuarto  desc_vestidor  ...  desc_patio  desc_infonavit
0            0              0  ...           0               0
1            1              0  ...           0               0
2            0              0  ...           0               0
3            0              0  ...           0               0
4            0              0  ...           1               0

[5 rows x 47 columns]

## Features titulo

Mismo procedimiento anterior pero para palabras que encontramos correlacionadas a mayor o menor precio en 'titulo'

In [0]:
#Paso todas los titulos a minúscula para contar las palabras con mas precision
train['titulo']=train['titulo'].apply(lambda x: x.lower())

In [0]:
Palabras_mayor_precio=['polanco','loma','herradura','condesa','bosque','country',\
                       'hermosa','vista','residencia','condominio','golf','lujo','huixquilucan',\
                      ]
Palabras_menor_precio=['terreno','fracc','casa','villa','remate','recamaras'\
                      ,'ecatepec','cerca','coacalco','izcalli','planta','lote',\
                      'bonita','cautitlan']
Palabras=Palabras_mayor_precio + Palabras_menor_precio

In [0]:
dummies_palabras_titulo=pd.DataFrame()
#Por cada palabra en la lista genero una columna que diga si la descripcion contenia esa palabra o no
for palabra in Palabras:
    dummies_palabras_titulo[palabra]=train['titulo'].apply(lambda x: palabra in x).astype(np.int8)
#Renombro estas columnas agregandoles un prefijo
dummies_palabras_titulo=dummies_palabras_titulo.add_prefix('titl_')

In [98]:
dummies_palabras_titulo.head(3)

   titl_polanco  titl_loma  ...  titl_bonita  titl_cautitlan
0             0          0  ...            0               0
1             0          0  ...            0               0
2             0          0  ...            0               0

[3 rows x 27 columns]

In [0]:
dummies_palabras_titulo_test=pd.DataFrame()
#Hago lo mismo para el set de test
for palabra in Palabras:
    dummies_palabras_titulo_test[palabra]=test['titulo'].apply(lambda x: palabra in x).astype(np.int8)
dummies_palabras_titulo_test=dummies_palabras_titulo_test.add_prefix('titl_')

In [100]:
dummies_palabras_titulo_test.head(3)

   titl_polanco  titl_loma  ...  titl_bonita  titl_cautitlan
0             0          0  ...            0               0
1             0          0  ...            0               0
2             0          0  ...            0               0

[3 rows x 27 columns]

# Unificacion de todos los dummies:

In [0]:
dummies=dummies.join(dummies_ciud).join(dummies_prov).join(dummies_palabras_descr).join(dummies_palabras_titulo)
dummies_test=dummies_test.join(dummies_ciud_test).join(dummies_prov_test).join(dummies_palabras_descr_test).join(dummies_palabras_titulo_test)

#Algunos de los dummies mas importantes segun random forest: (segun orden de importancia)
mas_importantes=['prov_Distrito Federal', 'prop_Apartamento', 'ciud_Huixquilucan',
       'prop_Terreno','ciud_San Pedro Garza García',
       'desc_vestidor', 'prop_Terreno comercial', 'ciud_Zapopan',
       'prov_Edo. de México', 'ciud_Miguel Hidalgo',
       'ciud_Naucalpan de Juárez', 'desc_bancario', 'ciud_Benito Juárez',
       'prop_Casa', 'ciud_Cuauhtémoc', 'desc_contado', 'desc_alberca',
       'desc_terraza', 'prop_Edificio', 'desc_jardín',
       'prop_Casa en condominio', 'desc_estacionamiento',
       'desc_cuarto', 'desc_vista', 'ciud_San Andrés Cholula',
       'desc_servicio', 'desc_lujo', 'ciud_Atizapán de Zaragoza',
       'desc_acabado', 'desc_inf',
      'desc_bodega', 'ciud_Alvaro Obregón',
       'desc_cerca', 'desc_estudio', 'desc_patio', 'prov_Jalisco',
       'desc_nado', 'desc_garden', 'desc_spa', 'prov_Yucatán',
       'ciud_Monterrey', 'desc_tv', 'desc_doble',
       'prop_Oficina comercial', 'desc_visita', 'desc_juegos',
       'desc_gimnasio', 'prop_Bodega comercial', 'ciud_Iztapalapa',
       'desc_espacio', 'ciud_Tlalpan', 'prop_Local Comercial',
       'ciud_Coyoacán', 'desc_acept', 'desc_jacuzzi', 'desc_minutos',
       'desc_cochera', 'desc_salón', 'desc_chimenea', 'ciud_Guadalajara',
       'desc_lugares', 'ciud_Tlalnepantla de Baz', 'desc_desayunador',
       'desc_escuela', 'prov_Nuevo León',
       'ciud_Querétaro', 'ciud_San Miguel de Allende', 'desc_antecomedor',
       'desc_family', 'ciud_Mérida', 'desc_salon',
       'ciud_Cuajimalpa de Morelos', 'ciud_Valle de Bravo',
       'ciud_La Magdalena Contreras', 'prov_Coahuila', 'desc_room',
       'desc_credito', 'ciud_Santa Catarina', 'prov_San luis Potosí',
       'desc_infonavit', 'ciud_Cuernavaca', 'desc_fiestas',
       'prov_Querétaro', 'prov_Durango', 'ciud_Gustavo A. Madero',
       'ciud_San Luis Potosí', 'prop_Rancho', 'ciud_Acapulco de Juárez',
       'prov_Puebla', 'prop_Casa uso de suelo', 'prov_Guerrero',
       'ciud_Xochimilco', 'ciud_Cancún', 'prov_Quintana Roo',
       'ciud_Metepec', 'ciud_Puebla', 'prov_Morelos', 'desc_reja',
       'ciud_Santiago', 'ciud_Venustiano Carranza', 'prov_Chihuahua',
       'prop_Inmuebles productivos urbanos', 'prov_Veracruz',
       'prov_Tabasco', 'ciud_Azcapotzalco', 'ciud_N/A',
       'ciud_Boca del Río', 'desc_transporte', 'prop_Quinta Vacacional',
       'ciud_Toluca', 'desc_fovissste', 'desc_boiler',
       'ciud_Cuautitlán Izcalli', 'ciud_Lerma', 'ciud_Villahermosa',
       'prop_Local en centro comercial', 'prov_Sonora', 'prov_Guanajuato',
       'prov_N/A', 'ciud_Iztacalco', 'ciud_Veracruz',
       'ciud_Tlajomulco de Zúñiga', 'prop_Nave industrial',
       'ciud_Bahía de Banderas', 'prov_Chiapas', 'ciud_Tláhuac',
       'ciud_Nezahualcóyotl', 'ciud_Tuxtla Gutiérrez',
       'ciud_Playa del Carmen', 'ciud_San Cristóbal de las Casas',
       'prov_Nayarit', 'ciud_Chihuahua', 'ciud_Hermosillo',
       'prov_Sinaloa', 'ciud_Solidaridad', 'prov_Tamaulipas',
       'ciud_Durango', 'ciud_Tlaquepaque', 'ciud_Torreón',
       'ciud_Ecatepec de Morelos', 'prov_Michoacán', 'prop_Otros',
       'ciud_Centro', 'prop_Villa', 'desc_protecciones',
       'prop_Terreno industrial', 'ciud_Puerto Vallarta',
       'ciud_Corregidora', 'ciud_Oaxaca de Juárez',
       'ciud_San Nicolás de los Garza', 'ciud_Mazatlán', 'ciud_Apodaca',
       'ciud_Juárez', 'ciud_Morelia', 'ciud_Xalapa',
       'prov_Aguascalientes', 'ciud_Culiacán', 'ciud_Aguascalientes',
       'ciud_Guadalupe', 'ciud_Tecámac', 'ciud_Colón', 'ciud_Ameca',
       'ciud_Tepoztlán', 'ciud_Allende', 'prov_Hidalgo', 'ciud_Tampico',
       'ciud_Ocoyoacac', 'prop_Huerta', 'prov_Oaxaca', 'ciud_Batopilas',
       'prop_Departamento Compartido', 'prov_Baja California Norte',
       'ciud_Texcoco', 'ciud_San Juan del Río',
       'prov_Baja California Sur', 'ciud_Tequisquiapan', 'ciud_Pachuca',
       'ciud_Chalco', 'ciud_Tijuana', 'ciud_Alvarado', 'ciud_Teoloyucan',
       'ciud_Quitupan', 'ciud_Chapala', 'ciud_León', 'ciud_Saltillo',
       'ciud_Villa del Carbón', 'ciud_PolotitlAn', 'prov_Tlaxcala']

In [0]:
#Opcional: me quedo con los mas importantes(el score empeora un poco)
#dummies=dummies[mas_importantes]
#dummies_test=dummies_test[mas_importantes]

## Definiendo X e Y para entrenar y X_test para predecir

In [0]:
Numericos=['antiguedad','habitaciones','garages','banos','metroscubiertos',\
            'metrostotales','gimnasio','usosmultiples','piscina','escuelascercanas',\
            'centroscomercialescercanos','puntaje_por_fecha']

In [0]:
X=train[Numericos]
X=X.join(dummies)
Y=train['precio']

In [105]:
X.head()

   antiguedad  habitaciones  garages  ...  titl_lote  titl_bonita  titl_cautitlan
0           8             2        1  ...          0            0               0
1          10             3        2  ...          0            0               0
2           5             3        2  ...          0            0               0
3           1             2        1  ...          0            0               0
4          10             2        1  ...          0            0               0

[5 rows x 1020 columns]

In [106]:
Y.head()

0    2273000
1    3600000
2    1200000
3     650000
4    1150000
Name: precio, dtype: int32

In [107]:
X_test = test[Numericos]
X_test=X_test.join(dummies_test)
X_test.head()

   antiguedad  habitaciones  garages  ...  titl_lote  titl_bonita  titl_cautitlan
0          29             3        2  ...          0            0               0
1           8             1        1  ...          0            0               0
2           0             2        1  ...          0            0               0
3           2             2        2  ...          0            0               0
4          10             2        1  ...          0            1               0

[5 rows x 1020 columns]

# Armado de modelos

In [0]:
def crear_submit(model, x_train, y_train, x_test, nombre):
    model.fit(x_train, y_train)
    result = model.predict(x_test)
    final = test.loc[:, ['id']]
    final['target'] = result
    #ruta = "data/submit"+ nombre +".csv"
    final.to_csv("../content/drive/My Drive/data/submitRF_normalized.csv",index=False)
    #df = pd.read_csv(ruta)
    return final

result=RF_model.predict(X_test_normalized)

---


final = test.loc[:,['id']]
final['target'] = result
final.head()

final.to_csv("../content/drive/My Drive/data/submitRF_normalized.csv",

*   Elemento de la lista
*   Elemento de la lista

index=False)

In [0]:
from sklearn import preprocessing 
def normalizar_data(df):
    min_max_scaler = preprocessing.MinMaxScaler() 
    np_scaled = min_max_scaler.fit_transform(df)
    return pd.DataFrame(np_scaled)

In [0]:
from sklearn.model_selection import cross_val_score

## (1) Random Forest

In [0]:
from sklearn.ensemble  import RandomForestRegressor

#RF_model=RandomForestRegressor(random_state=42,n_estimators=120)

### Grafico de importancias

In [0]:
RF_model.fit(X,Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=80,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [0]:
importancias = pd.DataFrame(RF_model.feature_importances_,index=X.columns,columns=['importancia']).reset_index()
importancias.columns = ['feature', 'importancia']

In [0]:
importancias=importancias.sort_values(by='importancia',ascending=False)

In [0]:
import seaborn as sns
plt.figure(figsize = (15,8))
#Muestro los 50 mas importantes
graf = sns.barplot(x = importancias.feature.head(50), y = importancias.importancia.head(50))
graf.set_title("50 features mas importantes")
graf.set_xlabel("Feature", fontsize = 20)
graf.set_ylabel("Importancia", fontsize = 20)
plt.xticks(fontsize = 15, rotation = 'vertical')
plt.yticks(fontsize = 15)

In [0]:

plt.figure(figsize = (15,8))
#Muestro los 200 menos importantes
graf = sns.barplot(x = importancias.feature.tail(50), y = importancias.importancia.tail(50), orient = 'v')
graf.set_title("50 features menos importantes")
graf.set_xlabel("Feature", fontsize = 20)
graf.set_ylabel("Importancia", fontsize = 20)
plt.xticks(fontsize = 15, rotation = 'vertical')
plt.yticks(fontsize = 15)

## Normalizacion

In [112]:
X_normalized = normalizar_data(X)
X_test_normalized = normalizar_data(X_test)
X_test_normalized.head()

     0         1         2         3         4     ...  1015  1016  1017  1018  1019
0  0.3625  0.222222  0.666667  1.000000  0.672170  ...   0.0   0.0   0.0   0.0   0.0
1  0.1000  0.000000  0.333333  0.000000  0.122642  ...   0.0   0.0   0.0   0.0   0.0
2  0.0000  0.111111  0.333333  0.333333  0.169811  ...   0.0   0.0   0.0   0.0   0.0
3  0.0250  0.111111  0.666667  0.333333  0.167453  ...   0.0   0.0   0.0   0.0   0.0
4  0.1250  0.111111  0.333333  0.000000  0.153302  ...   0.0   0.0   0.0   1.0   0.0

[5 rows x 1020 columns]

# Grid search

In [0]:
RF_model=RandomForestRegressor(n_estimators=80,random_state=42,n_jobs=-1)

In [0]:
from sklearn.model_selection import GridSearchCV

In [0]:
#Me quedo con un sample del 10% para reducir el tiempo de gridsearch
X_samples=X.join(Y)
X_samples=X_samples.sample(24000)
Y_samples=X_samples['precio']
X_samples=X_samples.drop(['precio'],axis=1)

In [0]:
X_normalized = normalizar_data(X_samples)

In [0]:
param_grid = { 
    'n_estimators': [80],
    'max_features': ['auto'],
    #'max_depth' : [4,6,8],
    'max_depth' : [None],
    'criterion' :['mse']
    #'criterion' :['mse', 'mae']
}

In [0]:
CV_rfc = GridSearchCV(estimator=RF_model,scoring="neg_mean_absolute_error", param_grid=param_grid, cv= 2)
CV_rfc.fit(X_normalized, Y_samples)

GridSearchCV(cv=2, error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=42,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'criterion': ['mse'], 'max_depth': [None],
                         'max_features': ['auto'], 'n_estimators': [80]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [0]:
param_grid = { 
    'n_estimators': [80],
    'max_features': ['auto'],
    #'max_features': ['auto', 'sqrt', 'log2'],
    #'max_depth' : [4,6,8],
    'max_depth' : [None],
    'criterion' :['mse']
    #'criterion' :['mse', 'mae']
}

In [0]:
#CV_rfc = GridSearchCV(estimator=RF_model,scoring="neg_mean_absolute_error", param_grid=param_grid, cv= 2)
#CV_rfc.fit(X_normalized, Y)

In [0]:
#pd.DataFrame(CV_rfc.cv_results_)

# Puntaje de Cross validations con datos normalizados

In [0]:
#scores = cross_val_score(RF_model , X_normalized, Y, scoring="neg_mean_absolute_error", cv=2)
#RF_mae_score1 = -scores.mean()
#RF_mae_score1

In [0]:
#-scores

# Creo submit con datos normalizados

In [0]:
submit1 = crear_submit(RF_model,X_normalized, Y, X_test_normalized, "RF_normalized")
submit1.head()